/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0e1117;
    color: #e0e0e0;
    display: flex;
    height: 100vh;
}


.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow wrapping if necessary */
    overflow: auto; /* Enable scrolling if content overflows */
    justify-content: center; /* Center align elements */
    align-items: center; /* Center align elements vertically */
    height: 30vh; /* Adjust height as needed */
}

.top-bar-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
    margin-left: 200px;
    margin-right: 200px;
}

.top-bar-row:first-child {
    justify-content: center; /* Center images in the first row */
}

.top-bar img {
    height: auto;
    max-height: 15vh; /* Adjust this value as needed */
    margin: 0 20px; /* Add space between images (horizontal margin) */
}

.top-bar select, 
.top-bar input[type="range"], 
.top-bar button {
    margin-right: 10px; /* Adjust space between elements */
    font-size: 14px; /* Adjust font size */
    padding: 8px; /* Adjust padding */
}

.top-bar input[type="range"] {
    width: 150px; /* Adjust width */
}

.top-bar button {
    margin-left: 10px; /* Add space between buttons */
}

.top-bar #plot-modal {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    padding: 150px 20px; /* Adjust padding to account for the fixed top bar */
}


/* Container for Sidebar and Main Content */
.container {
    display: flex;
    width: 100%;
}

/* Button Styling */
#generate-plot {
    background-color: #e20c16;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s, transform 0.2s;
}

#generate-plot:hover {
    background-color: #e20c16;
    transform: scale(1.05);
}

#generate-plot:focus {
    outline: none;
}

/* Main Content Area */
.main-content {
    margin-top: 34vh; /* Adjust this value to the height of the top bar */
    padding: 20px;
    box-sizing: border-box;
    background-color: #0e1117;
    flex: 1; /* Allow the main content to grow and fill available space */
    overflow-y: auto; /* Scroll if content overflows */
}

/* Individual Pane */
.pane {
    position: relative;
    width: 100%;
    padding-top: 61.54%; /* Aspect ratio padding for 13:8 */
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    background-color: #1a1a1a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pane:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pane img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Plot Modal */
#plot-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1a1a1a;
    border: 1px solid #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
}

#plot-modal label {
    display: block;
    margin-bottom: 10px;
}

#plot-select, #generate-plot {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#plot-display {
    margin-top: 20px;
    text-align: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-header img {
    width: 50%;
}

.sidebar-header h1 {
    margin: 0;
}

#save-dashboard {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #0e1117; /* Background color */
    color: #ffffff; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    cursor: pointer; /* Pointer cursor on hover */
    transition: transform 0.2s, background-color 0.2s; /* Smooth transition for hover effects */
}

#save-dashboard:hover {
    transform: scale(1.1); /* Enlarge button on hover */
    background-color: #1a232e; /* Slightly lighter color on hover */
}

#match-select, #plot-select {
    padding: 10px 20px; /* Same padding as the button */
    background-color: #0e1117; /* Same background color as the button */
    color: #ffffff; /* Same text color as the button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Same rounded corners as the button */
    font-size: 16px; /* Same font size as the button */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s; /* Smooth transition for hover effects */
}

/* Style the select element's option */
#match-select option {
    background-color: #0e1117; /* Match the background color */
    color: #ffffff; /* Match the text color */
}

/* Add a hover effect for the select dropdown */
#match-select:hover {
    background-color: #1a232e; /* Slightly lighter color on hover */
}

/* General styling for the slider container */
#row-slider-container {
    display: flex;
    align-items: center;
}

/* Style for the slider input */
#row-slider {
    -webkit-appearance: none; /* Remove default appearance in WebKit browsers */
    width: 100px; /* Adjust width as needed */
    height: 6px; /* Slider height */
    background: #0e1117; /* Background color of the slider track */
    border-radius: 5px; /* Rounded corners for the slider track */
    outline: none; /* Remove outline */
    cursor: pointer; /* Pointer cursor on hover */
    margin-right: 10px; /* Space between slider and label */
    transition: background-color 0.2s; /* Smooth transition for hover effects */
}

/* Style for the slider thumb */
#row-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default appearance */
    width: 16px; /* Thumb width */
    height: 16px; /* Thumb height */
    background: #ffffff; /* Thumb color */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s; /* Smooth transition for hover effects */
}

#row-slider::-moz-range-thumb {
    width: 16px; /* Thumb width */
    height: 16px; /* Thumb height */
    background: #ffffff; /* Thumb color */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s; /* Smooth transition for hover effects */
}

#row-slider::-ms-thumb {
    width: 16px; /* Thumb width */
    height: 16px; /* Thumb height */
    background: #ffffff; /* Thumb color */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s; /* Smooth transition for hover effects */
}

/* Style for the span element displaying the row count */
#row-count {
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    font-size: 16px; /* Font size */
    color: #ffffff; /* Text color */
    margin-right: 5px; /* Space between number and label */
}



/* Grid of panes */
.pane-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
    gap: 15px; /* Space between items */
    margin: 20px 0; /* Margin around the grid */
}

/* Individual Pane */
.pane {
    position: relative;
    width: 100%;
    padding-top: 61.54%; /* Aspect ratio padding for 13:8 */
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    background-color: #1a1a1a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pane:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pane img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .pane-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .pane-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
