body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0e1117;
    color: #e0e0e0;
    display: flex;
    height: 100vh;
}

#toggle-content {
    font-size: 2.5vh;
}

.hidden {
    display: none;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    padding: 1vh 2vw; /* Use viewport units for padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Adjust based on your needs */
    font-size: 1.5vw; /* Font size relative to viewport width */
}

.top-bar-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh; /* Margin relative to viewport height */
}

.top-bar-row:first-child {
    justify-content: center; 
}

.top-bar img {
    height: auto;
    max-height: 8vh; /* Adjust as needed */
    margin: 0 1vw; /* Margin relative to viewport width */
}

.top-bar select, 
.top-bar input[type="range"], 
.top-bar button {
    margin-right: 1vw; /* Margin relative to viewport width */
    font-size: 1em; /* Font size relative to the .top-bar's font size */
    padding: 0.5vh 1vw; /* Padding relative to viewport height and width */
}

.top-bar input[type="range"] {
    width: 20vw; /* Width relative to viewport width */
}

.top-bar button {
    margin-left: 1vw; /* Add space between buttons, relative to viewport width */
}

.top-bar #plot-modal {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    padding: 150px 20px;
}


#dashboard-header {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

#header-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}


.container {
    display: flex;
    width: 100%;
}


/* Button Styling */
#generate-plot {
    background-color: #e20c16;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s, transform 0.2s;
}

#generate-plot:hover {
    background-color: #e20c16;
    transform: scale(1.05);
}

#generate-plot:focus {
    outline: none;
}

/* Main Content Area */
.main-content {
    margin-top: 34vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0e1117;
    flex: 1; 
    overflow-y: auto;
}

/* Individual Pane */
.pane {
    position: relative;
    width: 100%;
    padding-top: 61.54%; /* Aspect ratio padding for 13:8 */
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    background-color: #1a1a1a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pane:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pane img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Plot Modal */
#plot-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1a1a1a;
    border: 1px solid #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
}

#plot-modal label {
    display: block;
    margin-bottom: 10px;
}

#plot-select, #generate-plot {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#plot-display {
    margin-top: 20px;
    text-align: center;
}


#save-dashboard {
    padding: 10px 20px;
    background-color: #0e1117;
    color: #ffffff;
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s; 
}

#save-dashboard:hover {
    transform: scale(1.1);
    background-color: #1a232e;
}

#match-select, #plot-select {
    padding: 10px 20px;
    background-color: #0e1117; 
    color: #ffffff;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; 
    transition: background-color 0.2s; 
}


#match-select option {
    background-color: #0e1117; 
    color: #ffffff;
}


#match-select:hover {
    background-color: #1a232e; /* Slightly lighter color on hover */
}


#row-slider-container {
    display: flex;
    align-items: center;
}

/* Style for the slider input */
#row-slider {
    -webkit-appearance: none; /* Remove default appearance in WebKit browsers */
    width: 100px; 
    height: 6px;
    background: #0e1117;
    border-radius: 5px; 
    outline: none; 
    cursor: pointer; 
    margin-right: 10px; 
    transition: background-color 0.2s;
}

/* Style for the slider thumb */
#row-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 16px; 
    height: 16px;
    background: #ffffff;
    border-radius: 50%; 
    cursor: pointer; 
    transition: background-color 0.2s;
}

#row-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer; 
    transition: background-color 0.2s;
}

#row-slider::-ms-thumb {
    width: 16px; 
    height: 16px;
    background: #ffffff; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.2s; 
}

/* Style for the span element displaying the row count */
#row-count {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #ffffff;
    margin-right: 5px; 
}


/* Grid of panes */
.pane-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
    gap: 15px; /* Space between items */
    margin: 20px 0;
}

/* Individual Pane */
.pane {
    position: relative;
    width: 100%;
    padding-top: 61.54%; /* Aspect ratio padding for 13:8 */
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    background-color: #1a1a1a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pane:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pane img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .pane-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .pane-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}