<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Dashboard Creation Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/eurologo.ico') }}"" type="image/x-icon">
    <script>
        // Passing Flask variables to JavaScript
        const sideCharts = {{ side_charts|tojson }};
        const middleCharts = {{ middle_charts|tojson }};
    </script>
    <script src="{{ url_for('static', filename='app/script.js') }}" defer></script>
</head> 

<body>
    <div class="container">
        <div class="top-bar">
            <div class="top-bar-row">
                <img src="{{ url_for('static', filename='images/EURO2024.png') }}" alt="Euro 2024 logo" >
                <a href="https://aleks-kapich.pl"><img src="{{ url_for('static', filename='images/dashboard_creator.png') }}" alt="App name"></a>
                <img src="{{ url_for('static', filename='images/sb_icon.png') }}" alt="StatsBomb Icon">
            </div>
            <div class="top-bar-row">
                <label for="match-select"></label>
                <select id="match-select">
                    {% for key, value in match_dict.items() %}
                        <option value="{{ value }}" {% if loop.index == 2 %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button id="save-dashboard">Save Dashboard</button>

                <div id="save-loading-spinner" class="loading-spinner hidden">
                    <i class="fas fa-spinner fa-spin"></i> Saving dashboard...
                </div>

                <div id="plot-modal" style="display:none;">
                    <label for="plot-select">Choose a plot type:</label>
                    <select id="plot-select">
                        <!-- Options dynamically populated by JavaScript -->
                    </select>
                    <button id="generate-plot">Add Plot</button>
                </div>

                <div id="plot-loading-spinner" class="loading-spinner hidden">
                    <i class="fas fa-spinner fa-spin"></i> Generating plot...
                </div>
            </div>
            <div class="top-bar-row">
                <div id="monospace-text" style="font-size: max(1vw, 12px)">Choose amount of rows:</div> 
                <label for="row-slider"></label>
                <input type="range" id="row-slider" min="2" max="5" value="2">
                <span id="row-count">2</span>
            </div>

        </div>

        <div class="main-content">
            <h2 id="toggle-header">How to use the dashboard creator? [toggle]</h2>
            <div id="toggle-content" class="hidden">
                <p>
                    Within the top bar menu, you can choose the match & your desired dashboard size.
                    By clicking on the empty panes below, you can select the plot to
                    display in that particular place on the dashboard. When your design process is
                    over, download your dashboard! (it may take a few seconds). <br>
                    You can erase the dashboard by simply choosing another match.
                </p>
            </div>
            <br><hr>


            <div class="dashboard-header-container">
                <div id="dashboard-header">
                    <img id="header-image" alt="Dashboard Header">
                </div>
            </div>
            
            <!-- Grid of panes -->
            <div class="pane-grid" id="pane-grid">
            </div>

            <!-- Area to display the generated plot -->
            <div id="plot-display"></div>
        </div>

    </div>
</body>
</html>
