<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Dashboard Creation Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app/style.css') }}">
    <script>
        // Passing Flask variables to JavaScript
        const sideCharts = {{ side_charts|tojson }};
        const middleCharts = {{ middle_charts|tojson }};
    </script>
    <script src="{{ url_for('static', filename='app/script.js') }}" defer></script>
</head> 

<body>
    <div class="container">
        <!-- Sidebar for controls -->
        <div class="sidebar">
            
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='images/EURO2024.png') }}" alt="Euro 2024 logo">
                <img src="{{ url_for('static', filename='images/dashboard_creator.png') }}" alt="App name">
            </div>
            
            <!-- Dropdown for selecting the match -->
            <label for="match-select"></label>
            <select id="match-select">
                {% for key, value in match_dict.items() %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>

            <!-- Slider to choose number of rows -->
            <label for="row-slider"></label>
            <input type="range" id="row-slider" min="2" max="5" value="2">
            <span id="row-count">2</span> rows

            <!-- Modal for selecting plot type -->
            <div id="plot-modal" style="display:none;">
                <label for="plot-select">Choose a plot type:</label>
                <select id="plot-select">
                    <!-- Options will be dynamically populated by JavaScript -->
                </select>
                <button id="generate-plot">Add Plot</button>
            </div>

            <!-- <img src="{{ url_for('static', filename='images/sb_icon.png') }}" alt="StatsBomb Icon" style="width:100%; margin-bottom:20px;"> -->
        </div>

        <!-- Main content area for images -->
        <div class="main-content">
            
            <!-- Grid of panes -->
            <div class="pane-grid" id="pane-grid">
                <!-- Dynamic grid elements will be inserted here by JavaScript -->
            </div>

            <!-- Area to display the generated plot -->
            <div id="plot-display"></div>
        </div>
    </div>
</body>
</html>
